{% extends "sub_base.html" %}

{% block css %}
    <style type="text/css">
    table.datatable {
        table-layout: fixed;
        word-wrap: break-word;
    }
    </style>
{% endblock %}

{% block container %}
    <table class="table table-bordered datatable">
    <thead>
    <tr class="info">
        <th style="width: 8%;">번호</th>
        <th style="width: 12%;">자산코드</th>
        <th style="width: 36%;">제품명</th>
        <th style="width: 8%;">제조년월</th>
        <th style="width: 8%;">취득년월</th>
        <th style="width: 14%;">사용자</th>
        <th style="width: 14%;">비고</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td><a href="/pc/abc-1">abc-1</a></td>
        <td>한국컴퓨터</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>이지호</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td>abc-1</td>
        <td>한국컴퓨터</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>이지호</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td>abc-1</td>
        <td>한국컴퓨터</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>이지호</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td>abc-1</td>
        <td>한국컴퓨터</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>이지호</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td>abc-1</td>
        <td>한국컴퓨터</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>이지호</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td>abc-1</td>
        <td>한국컴퓨터</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>이지호</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td>abc-1</td>
        <td>한국컴퓨터</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>이지호</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td>abc-1</td>
        <td>한국컴퓨터</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>이지호</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td>abc-1</td>
        <td>한국컴퓨터</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>이지호</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td>abc-1</td>
        <td>한국컴퓨터</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>이지호</td>
        <td>test</td>
    </tr>
    </tbody>
    </table>
    <div style="width: 100%;text-align: center;">&lt;&lt;&nbsp;&nbsp;&lt;1&nbsp;2&nbsp;[3]&nbsp;4&nbsp;&gt;&nbsp;&gt;&gt;</div>
{% endblock %}
