{% extends "sub_base.html" %}

{% block container %}
    <table class="table table-bordered datatable">
    <thead>
    <tr class="info">
        <th style="width: 8%;">번호</th>
        <th style="width: 9%;">자산코드</th>
        <th style="width: 25%;">제품명</th>
        <th style="width: 14%;">제품번호</th>
        <th style="width: 8%;">제조년월</th>
        <th style="width: 8%;">취득년월</th>
        <th style="width: 14%;">위치</th>
        <th style="width: 14%;">비고</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td><a href="/printer/abc-1">abc-1</a></td>
        <td>캐논 프린터</td>
        <td>211NDEZ8T468</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>2층</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/printer/abc-1">abc-1</a></td>
        <td>캐논 프린터</td>
        <td>211NDEZ8T468</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>2층</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/printer/abc-1">abc-1</a></td>
        <td>캐논 프린터</td>
        <td>211NDEZ8T468</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>2층</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/printer/abc-1">abc-1</a></td>
        <td>캐논 프린터</td>
        <td>211NDEZ8T468</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>2층</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/printer/abc-1">abc-1</a></td>
        <td>캐논 프린터</td>
        <td>211NDEZ8T468</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>2층</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/printer/abc-1">abc-1</a></td>
        <td>캐논 프린터</td>
        <td>211NDEZ8T468</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>2층</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/printer/abc-1">abc-1</a></td>
        <td>캐논 프린터</td>
        <td>211NDEZ8T468</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>2층</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/printer/abc-1">abc-1</a></td>
        <td>캐논 프린터</td>
        <td>211NDEZ8T468</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>2층</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/printer/abc-1">abc-1</a></td>
        <td>캐논 프린터</td>
        <td>211NDEZ8T468</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>2층</td>
        <td>test</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/printer/abc-1">abc-1</a></td>
        <td>캐논 프린터</td>
        <td>211NDEZ8T468</td>
        <td>2015.04</td>
        <td>2015.05</td>
        <td>2층</td>
        <td>test</td>
    </tr>
    </tbody>
    </table>
    <div style="width: 100%;text-align: center;">&lt;&lt;&nbsp;&nbsp;&lt;1&nbsp;2&nbsp;[3]&nbsp;4&nbsp;&gt;&nbsp;&gt;&gt;</div>
{% endblock %}