[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
python-dateutil = "*"
"webhelpers2" = "*"
paginate = "*"
paginate-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.6"
