{% extends "base.html" %}

{% block main %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">전사자원관리시스템</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% if request.path == "/pc" %}active{% endif %}"><a href="/pc">PC/Notebook</a></li>
            <li class="{% if request.path == "/monitor" %}active{% endif %}"><a href="/monitor">Monitor</a></li>
            <li class="{% if request.path == "/printer" %}active{% endif %}"><a href="/printer">Printer</a></li>
            <li class="{% if request.path == "/equipment" %}active{% endif %}"><a href="/equipment">EQUIPMENT</a></li>
            <li class="{% if request.path == "/sr" %}active{% endif %}"><a href="/sr">Service Request</a></li>

            <li class="dropdown {% if request.path in ['/user/use', '/user/modify'] %}active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">사용자 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="{% if request.path == "/user/use" %}active{% endif %}"><a href="/user/use">사용조회</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">정보조회</li>
                <li class="{% if request.path == "/user/modify" %}active{% endif %}"><a href="/user/modify">정보수정</a></li>
                <li><a href="/logout">로그아웃</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
                <form class="navbar-form navbar-right">
                    <div class="input-group">
                        <input type="text" placeholder="검색어" class="form-control input-sm" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-info btn-sm">검색</button>
                            <button type="submit" class="btn btn-success btn-sm">등록</button>
                        </span>
                    </div>
                  </form>
            </li>
            <li><a href="/logout">로그아웃 <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        {% block container %}
        {% endblock %}
    </div>
{% endblock %}