{% extends "base.html" %}

{% block script %}
    <script type="text/javascript" src="/static/js/bootstrap-typeahead.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $('input.date').datepicker({
            language: "kr",
            autoclose: true,
            format: 'yyyy-mm-dd'
        });

        $("input#user").typeahead({
            ajax: {
                url: "/user/all",
                timeout: 500,
                displayField: "user_name",
                valueField: "user_seq",
                triggerLength: 1,
                method: "get",
                loadingClass: "loading-circle"
            },
            onSelect: function(selectItem) {
                $("input[name=user_seq]", "form").val(selectItem['value']);
            }
        });
    });
    </script>
{% endblock %}

{% block content %}
<form method="post" action="/pc/{{asset_code}}/updateXml" enctype="multipart/form-data">
    XML 선택 : <input type="file" name="file_xml" size="40"/> <input class="btn" type="submit" value="정보 업데이트"/>
</form>
<form role="form" method="post" action="/pc/{{ asset_code }}/update" id="accordion">
    <input type="hidden" name="user_seq" value="{{ user.seq or 0 }}"/> <!-- 초기엔 어떤 사용자도 없다. 어떤 사용자도 가리키지 않은 값은 0이다 -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">관리정보 (최종검사시간 : {{ scan_time }}) - 원본 : {{ xml_file_name }}</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="asset_code">자산코드</label>
                                <input type="text" class="form-control" id="asset_code" name="asset_code" placeholder="자산코드" value="{{ asset_code }}" readonly>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="acquire_date">취득년월일</label>
                                <input type="text" data-format="yyyy-MM-dd" class="form-control date" id="acquire_date" name="acquire_date" placeholder="취득년월일" value="{{ acquire_date or '' }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="acquire_money">취득가</label>
                                <input type="text" class="form-control" id="acquire_money" name="acquire_money" placeholder="취득가" value="{{ acquire_money or '' }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="disuse_date">폐기일</label>
                                <input type="text" class="form-control date" id="disuse_date" name="disuse_date" placeholder="폐기일" value="{{ disuse_date or '' }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="disuse_note">폐기사유</label>
                                <input type="text" class="form-control" id="disuse_note" name="disuse_note" placeholder="폐기사유" value="{{ disuse_note or '' }}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="form-group">
                                <label for="user">사용자</label>
                                <input type="text" class="form-control span6" id="user" name="user_name" placeholder="사용자" value="{% if user.dept %}{{ user.dept.dept_team_nm or '' }}{% endif %} {{ user.user_name or '' }}" autocomplete="off">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="send_date">지급일</label>
                                <input type="text" class="form-control date" id="send_date" name="send_date" placeholder="지급일" value="{{ send_date or '' }}" autocomplete="off">
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="form-group">
                                <label for="collect_date">회수일</label>
                                <input type="text" class="form-control date" id="collect_date" name="collect_date" placeholder="회수일" value="{{ collect_date or '' }}" autocomplete="off">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">제품정보</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="product_name">PC 제품명</label>
                                <input type="text" class="form-control" id="product_name" name="product_name" placeholder="PC 제품명" value="{{ product_name }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="product_serial">PC 제품번호(Serial)</label>
                                <input type="text" class="form-control" id="product_serial" name="product_serial" placeholder="PC 제품번호" value="{{ product_serial }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="manufacture">제조사</label>
                                <input type="text" class="form-control" id="manufacture" name="manufacture" placeholder="제조사" value="{{ manufacture }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="make_date">제조년월</label>
                                <input type="text" class="form-control" id="make_date" name="make_date" placeholder="제조년월" value="{{ make_date or '' }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="config_no">Config NO(LG 데스크탑 전용)</label>
                                <input type="text" class="form-control" id="config_no" name="config_no" placeholder="Config NO(LG 데스크탑 전용)" value="{{ config_no or '' }}">
                            </div>
                        </td>
                    <tr>
                        <td colspan="2">
                            <div class="form-group">
                                <label for="processor_version">프로세서</label>
                                <input type="text" class="form-control" id="processor_version" name="processor_version" placeholder="프로세서" value="{{ processor_version }}" style="width: 449px;"/>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="memory_size">메모리 크기</label>
                                <input type="text" class="form-control" id="memory_size" name="memory_size" placeholder="메모리 크기" value="{{ memory_size }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="video_chip">비디오칩</label>
                                <input type="text" class="form-control" id="video_chip" name="video_chip" placeholder="비디오칩" value="{{ video_chip }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="usb_support_type">USB 지원 타입</label>
                                <input type="text" class="form-control" id="usb_support_type" name="usb_support_type" placeholder="USB 지원버전" value="{{ usb_support_type }}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="hdd_name">하드 디스크 모델</label>
                                <input type="text" class="form-control" id="hdd_name" name="hdd_name" placeholder="하드 디스크 모델" value="{{ hdd_name }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="hdd_capacity">하드 디스크 크기</label>
                                <input type="text" class="form-control" id="hdd_capacity" name="hdd_capacity" placeholder="하드 디스크 크기" value="{{ hdd_capacity }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="hdd_serial">하드 디스크 제품번호</label>
                                <input type="text" class="form-control" id="hdd_serial" name="hdd_serial" placeholder="하드 디스크 제품번호" value="{{ hdd_serial }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="mac_address">Mac Address</label>
                                <input type="text" class="form-control" id="mac_address" name="mac_address" placeholder="LanCard Mac Address" value="{{ mac_address }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="netbios_name">컴퓨터명(NetBIOS Name)</label>
                                <input type="text" class="form-control" id="netbios_name" name="netbios_name" placeholder="컴퓨터명(NetBIOS Name)" value="{{ netbios_name or ''}}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="form-group">
                                <label for="os">동작운영체제</label>
                                <input type="text" class="form-control" id="os" name="os" placeholder="동작운영체제" value="{{ os }}" style="width: 449px;"/>
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="form-group">
                                <label for="service_pack">서비스팩</label>
                                <input type="text" class="form-control" id="service_pack" name="service_pack" placeholder="서비스팩" value="{{ service_pack }}" style="width: 449px;">
                            </div>
                        </td>
                        <td rowspan="2">
                            <div class="form-group">
                                <label for="note">비고</label>
                                <textarea class="form-control" id="note" name="note" placeholder="비고" style="height:102px">{{ note or '' }}</textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="form-group">
                                <label for="windows_version">번들 윈도우 버전</label>
                                <input type="text" class="form-control" id="windows_version" name="windows_version" placeholder="번들 윈도우 버전" value="{{ windows_version or '' }}" style="width: 449px;"/>
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="form-group">
                                <label for="windows_serial">번들 윈도우 제품번호</label>
                                <input type="text" class="form-control" id="windows_serial" name="windows_serial" placeholder="번들 윈도우 제품번호" value="{{ windows_serial or '' }}" style="width: 449px;"/>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button type="submit" class="btn btn-default">데이터 변경</button>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#history">항목 변경내역</a></h4>
        </div>
        <div class="panel-body panel-collapse collapse" id="history">
            <table class="table">
                <thead>

                    <tr>
                        <th>변경항목</th>
                        <th>이전 값</th>
                        <th>새로운 값</th>
                        <th>변경일</th>
                        <th>상세항목</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history in asset_history %}
                    <tr>
                        <td>{{ history.field_name_display }}</td>
                        <td>{{ history.old_value_display }}</td>
                        <td>{{ history.new_value_display }}</td>
                        <td>{{ history.change_date }}</td>
                        <td>{{ history.change_note or '' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">서비스 내역</h4>
        </div>
        <div class="panel-body">
        </div>
    </div>
</form>
{% endblock %}