{% extends "base.html" %}

{% block content%}
    <table class="table">
        <thead>
            <tr>
                <td colspan="2">
                    <ul id="listTab" class="nav nav-tabs">
                        <li><a href="#search" data-toggle="tab">검색</a></li>
                        <li><a href="#add" data-toggle="tab">추가</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="search">...</div>
                        <div class="tab-pane" id="add">
                            <form method="post" action="/team/create" class="navbar-form navbar-left">
                                <div class="form-group form-inline">
                                    <label>팀명:</label>
                                    <input type="text" name="team_name" class="text" autofocus="true"/> <button type="submit" class="btn">생성</button>
                                    <!--<input class="btn" type="button" name="btnEditable" value="편집여부 선택"/> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="width:40px;">번호</th>
                <th>팀명</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.seq }}</td>
                <td><a href="#" class="editable" id="dept_team_nm" data-type="text" data-pk="{{ record.seq }}" data-url="/team/{{ record.seq }}/update" data-title="Enter Dept Name">{{ record.dept_team_nm }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
    <script type="text/javascript">
    $(function() {
        $("a.editable").editable({
            "mode": "inline"
        });

        $('#listTab a:first').tab('show');
    });
    </script>
{% endblock %}