{% extends "base.html" %}

{% block script %}
    <script type="text/javascript" src="/static/js/bootstrap-typeahead.min.js"></script>
    <script type="text/javascript">
    $(function() {
    });
    </script>
{% endblock %}

{% block content %}

<form role="form" method="post" action="/user/{{ seq }}/update" id="accordion">
    <input type="hidden" name="user_seq" value="{{ seq or 0 }}"/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">사용자정보</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="dept">부서/팀</label>
                                <select name="dept" id="dept">
                                    {% for team in team_list %}
                                        <option value="{{ team.seq }}" {% if dept_seq == team.seq %}selected{% endif %}>{{ team.dept_team_nm }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="user_name">이름</label>
                                <input type="text" data-format="yyyy-MM-dd" class="form-control date" id="user_name" name="user_name" placeholder="이름" value="{{ user_name or '' }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="user_position">직급</label>
                                <input type="text" class="form-control" id="user_position" name="user_position" placeholder="직급" value="{{ user_position or '' }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="user_ip">IP</label>
                                <input type="text" class="form-control date" id="user_ip" name="user_ip" placeholder="IP" value="{{ user_ip or '' }}">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button type="submit" class="btn btn-default">데이터 변경</button>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">사용중인 자산 목록</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>자산코드</th>
                        <th>제품명</th>
                        <th>제품번호</th>
                        <th>제조일자</th>
                    </tr>
                </thead>
                <tbody>
                    {% set asset_sel_type = {'desktop': 'pc', 'notebook': 'notebook', 'monitor': 'monitor'} %}
                    {% for asset in assets %}
                    <tr>
                        <td><a href="/{{ asset_sel_type[asset.asset_type] }}/{{ asset.asset_code }}" target="_blank">{{ asset.asset_code }}</a></td>
                        <td>{{ asset.product_name }}</td>
                        <td>{{ asset.product_serial }}</td>
                        <td>{{ asset.make_date or '' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">사용했던 자산 목록</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>자산코드</th>
                        <th>제품명</th>
                        <th>제품번호</th>
                        <th>제조일자</th>
                    </tr>
                </thead>
                <tbody>
                    {% set asset_sel_type = {'desktop': 'pc', 'notebook': 'notebook', 'monitor': 'monitor'} %}
                    {% for asset in assets_history %}
                    <tr>
                        <td><a href="/{{ asset_sel_type[asset.asset_type] }}/{{ asset.asset_code }}" target="_blank">{{ asset.asset_code }}</a></td>
                        <td>{{ asset.product_name }}</td>
                        <td>{{ asset.product_serial }}</td>
                        <td>{{ asset.make_date or '' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">서비스 내역</h4>
        </div>
        <div class="panel-body">
        </div>
    </div>
</form>
{% endblock %}