{% extends "base.html" %}

{% block content %}

<form method="post" action="/pc/add" enctype="multipart/form-data">
<fieldset>
    <label><span class="label1">자산코드</span> <input type="text" size="10" name="code" /></label>
    <label><span class="label1">모델</span> <input type="text" size="10" name="model_nm" /></label>
    <label><span class="label1">제조일자</span>
        <div id="make_date" class="input-append">
            <input data-format="yyyy-MM-dd" type="text" name="make_date"></input>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
        </div>
    </label>
    <label><span class="label1">취득일자</span>
        <div id="acquire_date" class="input-append">
            <input data-format="yyyy-MM-dd" type="text" name="acquire_date"></input>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
        </div>
    </label>
    <label><span class="label1">프로세서</span> <input type="text" size="10" name="processor" /></label>
    <label><span class="label1">메모리</span> <input type="text" size="10" name="memory" /></label>
    <label><span class="label1">비고</span> <textarea rows="4" cols="20" name="note"></textarea></label>
    <label><span class="label1">파일</span> <input type="file" name="xml" size="20"/></span>
</fieldset>
<button class="btnAddPc">등록</button>
</form>

{% endblock %}

{% block script %}
<script type="text/javascript">
$(function() {
    $("button.btnAddPc").click(function() {
        $("form").submit();
    });

    $('#make_date').datetimepicker({
        pickTime: false
    });

    $('#acquire_date').datetimepicker({
        pickTime: false
    });
});
</script>
{% endblock %}

{% block css %}
<style type="text/css">
fieldset label span.label1 {
    display: inline-block;
    width: 90px;
}

select.form-control {
    margin-top: 10px;
}
</style>
{% endblock %}