{% extends "base.html" %}

{% block content %}

<table class="table">
    <caption>PC 정보</caption>
    <thead>
        <tr>
            <th>번호</th>
            <th>자산코드</th>
            <th>모델명</th>
            <th>제조년월</th>
            <th>취득년월</th>
            <th>프로세서</th>
            <th>메모리</th>
            <th>비고</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{no}}</td>
            <td>{{code}}</td>
            <td>{{model_nm}}</td>
            <td>{{make_date}}</td>
            <td>{{acquire_date}}</td>
            <td>{{processor}}</td>
            <td>{{memory}}</td>
            <td>{{note}}</td>
        </tr>
    </tbody>
</table>



{% endblock %}