{% extends "base.html" %}

{% block script %}
    <script type="text/javascript" src="/static/js/bootstrap-typeahead.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $('input.date').datepicker({
            language: "kr",
            autoclose: true,
            format: 'yyyy-mm-dd'
        });

        $("input#user").typeahead({
            ajax: {
                url: "/user/all",
                timeout: 500,
                displayField: "user_name",
                valueField: "user_seq",
                triggerLength: 1,
                method: "get",
                loadingClass: "loading-circle"
            },
            onSelect: function(selectItem) {
                $("input[name=user_seq]", "form").val(selectItem['value']);
            }
        });
    });
    </script>
{% endblock %}

{% block content %}

<form role="form" method="post" action="/monitor/{{ asset_code }}/update" id="accordion">
    <input type="hidden" name="user_seq" value="{{ user.seq or 0 }}"/> <!-- 초기엔 어떤 사용자도 없다. 어떤 사용자도 가리키지 않은 값은 0이다 -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">관리정보 - 원본 : {{ xml_file_name }}</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="asset_code">자산코드</label>
                                <input type="text" class="form-control span2" id="asset_code" name="asset_code" placeholder="자산코드" value="{{ asset_code }}" readonly>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="acquire_date">취득년월일</label>
                                <input type="text" data-format="yyyy-MM-dd" class="form-control date span2" id="acquire_date" name="acquire_date" placeholder="취득년월일" value="{{ acquire_date or '' }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="acquire_money">취득가</label>
                                <input type="text" class="form-control" id="acquire_money" name="acquire_money" placeholder="취득가" value="{{ acquire_money or '' }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="disuse_date">폐기일</label>
                                <input type="text" class="form-control date span2" id="disuse_date" name="disuse_date" placeholder="폐기일" value="{{ disuse_date or '' }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="disuse_note">폐기사유</label>
                                <input type="text" class="form-control" id="disuse_note" name="disuse_note" placeholder="폐기사유" value="{{ disuse_note or '' }}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="form-group">
                                <label for="user">사용자</label>
                                <input type="text" class="form-control span6" id="user" name="user_name" placeholder="사용자" value="{% if user.dept %}{{ user.dept.dept_team_nm or '' }}{% endif %} {{ user.user_name or '' }}" autocomplete="off">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="send_date">지급일</label>
                                <input type="text" class="form-control date" id="send_date" name="send_date" placeholder="지급일" value="{{ send_date or '' }}" autocomplete="off">
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="form-group">
                                <label for="collect_date">회수일</label>
                                <input type="text" class="form-control date" id="collect_date" name="collect_date" placeholder="회수일" value="{{ collect_date or '' }}" autocomplete="off">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">제품정보</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="product_name">모니터 제품명</label>
                                <input type="text" class="form-control" id="product_name" name="product_name" placeholder="PC 제품명" value="{{ product_name }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="product_serial">모니터 제품번호(Serial)</label>
                                <input type="text" class="form-control" id="product_serial" name="product_serial" placeholder="PC 제품번호" value="{{ product_serial }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="manufacture">제조사</label>
                                <input type="text" class="form-control" id="manufacture" name="manufacture" placeholder="제조사" value="{{ manufacture or '' }}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="make_date">제조년월</label>
                                <input type="text" class="form-control" id="make_date" name="make_date" placeholder="제조년월" value="{{ make_date or '' }}">
                            </div>
                        </td>
                        <td>
                           <div class="form-group">
                                <label for="note">비고</label>
                                <input type="text" class="form-control" id="note" name="note" placeholder="비고" value="{{ note or ''}}"/>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button type="submit" class="btn btn-default">데이터 변경</button>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#history">항목 변경내역</a></h4>
        </div>
        <div class="panel-body panel-collapse collapse" id="history">
            <table class="table">
                <thead>
                    <tr>
                        <th>변경항목</th>
                        <th>이전 값</th>
                        <th>새로운 값</th>
                        <th>변경일</th>
                        <th>상세항목</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history in asset_history %}
                    <tr>
                        <td>{{ history.field_name_display }}</td>
                        <td>{{ history.old_value_display }}</td>
                        <td>{{ history.new_value_display }}</td>
                        <td>{{ history.change_date }}</td>
                        <td>{{ history.change_note or '' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">서비스 내역</h4>
        </div>
        <div class="panel-body">
        </div>
    </div>
</form>
{% endblock %}