{% extends "sub_base.html" %}

{% block container %}
    <table class="table table-bordered datatable">
    <thead>
    <tr class="info">
        <th style="width: 6%;">번호</th>
        <th style="width: 10%;">자산코드</th>
        <th style="width: 34%;">증상</th>
        <th style="width: 8%;">접수요청자</th>
        <th style="width: 8%;">접수요청일</th>
        <th style="width: 13%;">처리시작시간</th>
        <th style="width: 13%;">처리종료시간</th>
        <th style="width: 8%;">처리상태</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td><a href="/sr/abc-1">abc-1</a></td>
        <td>컴퓨터 서핑중에 이상한 창이 막 떠요..</td>
        <td>이지호</td>
        <td>2016.12</td>
        <td>2016.12.20 02:10</td>
        <td>2016.12.20 03:10</td>
        <td>완료</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/sr/abc-1">abc-1</a></td>
        <td>컴퓨터 서핑중에 이상한 창이 막 떠요..</td>
        <td>이지호</td>
        <td>2016.12</td>
        <td>2016.12.20 02:10</td>
        <td>2016.12.20 03:10</td>
        <td>완료</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/sr/abc-1">abc-1</a></td>
        <td>컴퓨터 서핑중에 이상한 창이 막 떠요..</td>
        <td>이지호</td>
        <td>2016.12</td>
        <td>2016.12.20 02:10</td>
        <td>2016.12.20 03:10</td>
        <td>완료</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/sr/abc-1">abc-1</a></td>
        <td>컴퓨터 서핑중에 이상한 창이 막 떠요..</td>
        <td>이지호</td>
        <td>2016.12</td>
        <td>2016.12.20 02:10</td>
        <td>2016.12.20 03:10</td>
        <td>완료</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/sr/abc-1">abc-1</a></td>
        <td>컴퓨터 서핑중에 이상한 창이 막 떠요..</td>
        <td>이지호</td>
        <td>2016.12</td>
        <td>2016.12.20 02:10</td>
        <td>2016.12.20 03:10</td>
        <td>완료</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/sr/abc-1">abc-1</a></td>
        <td>컴퓨터 서핑중에 이상한 창이 막 떠요..</td>
        <td>이지호</td>
        <td>2016.12</td>
        <td>2016.12.20 02:10</td>
        <td>2016.12.20 03:10</td>
        <td>완료</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/sr/abc-1">abc-1</a></td>
        <td>컴퓨터 서핑중에 이상한 창이 막 떠요..</td>
        <td>이지호</td>
        <td>2016.12</td>
        <td>2016.12.20 02:10</td>
        <td>2016.12.20 03:10</td>
        <td>완료</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/sr/abc-1">abc-1</a></td>
        <td>컴퓨터 서핑중에 이상한 창이 막 떠요..</td>
        <td>이지호</td>
        <td>2016.12</td>
        <td>2016.12.20 02:10</td>
        <td>2016.12.20 03:10</td>
        <td>완료</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/sr/abc-1">abc-1</a></td>
        <td>컴퓨터 서핑중에 이상한 창이 막 떠요..</td>
        <td>이지호</td>
        <td>2016.12</td>
        <td>2016.12.20 02:10</td>
        <td>2016.12.20 03:10</td>
        <td>완료</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/sr/abc-1">abc-1</a></td>
        <td>컴퓨터 서핑중에 이상한 창이 막 떠요..</td>
        <td>이지호</td>
        <td>2016.12</td>
        <td>2016.12.20 02:10</td>
        <td>2016.12.20 03:10</td>
        <td>완료</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="/sr/abc-1">abc-1</a></td>
        <td>컴퓨터 서핑중에 이상한 창이 막 떠요..</td>
        <td>이지호</td>
        <td>2016.12</td>
        <td>2016.12.20 02:10</td>
        <td>2016.12.20 03:10</td>
        <td>완료</td>
    </tr>
    </tbody>
    </table>
    <div style="width: 100%;text-align: center;">&lt;&lt;&nbsp;&nbsp;&lt;1&nbsp;2&nbsp;[3]&nbsp;4&nbsp;&gt;&nbsp;&gt;&gt;</div>
{% endblock %}